  <div class="govuk-grid-row uploaded_document_container uploader-row">
    <h2 class="govuk-heading-m govuk-grid-column-full">Uploaded Files</h2>
    <% current_documents.each do |doc| %>
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body"><%= doc.name %></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= link_to t('shared.file_upload.remove_file'),
                    document_path(doc, document_key: document_key),
                    method: :delete,
                    data: { confirm: t('shared.file_upload.confirm_delete') },
                    class: 'govuk-button govuk-button--secondary' %>
      </div>
    <% end %>
  </div>

