<h2 class="govuk-heading-m">
  <%=t "playback.exemptions_claimed.#{exemption.group_name}.header" %>
</h2>

<ul class="govuk-list govuk-list--bullet">
  <% exemption.collection.each do |name| %>
    <% if name.include? 'misc_access' %>
      <li><%=t "playback.exemptions_claimed.#{exemption.group_name}.exemptions.#{name}_html" %></li>
    <% else %>
      <li><%=t "playback.exemptions_claimed.#{exemption.group_name}.exemptions.#{name}" %></li>
    <% end %>
  <% end %>
</ul>
