<p class="govuk-body">
  If you cannot open the PDF file after downloading, download and install
  <a href="https://get.adobe.com/uk/reader/" class="govuk-link" rel="external" target="_blank">Adobe Acrobat Reader (opens in a new tab)</a> to try again.
</p>

<% unless user_signed_in? %>
  <div class="govuk-inset-text">
    <%= callout %>
  </div>
<% end %>

<p id="completedGeneratingMessage" class="hidden">
  <%= t('.generating_message') %>
</p>

<%= link_button 'Download your application', steps_completion_summary_path(format: :pdf),
                id: 'completedDownloadButton',
                data: { ga_category: 'check your answers', ga_label: 'download draft' } %>
