<tr class="answer-box">
  <td class="question">
    <%=t 'shared.admin_date_issued' %>
  </td>

  <td class="answer answer-value">
    <input class="box-to-fill" type="text" maxlength="10" name="date"/>
  </td>
</tr>
