<% if exemption_details.ivar.present? %>
  <p>
    <strong><%=t "check_answers.exemption_details.question" %></strong>
  </p>
  <ul>
      <li><%= exemption_details.ivar %></li>
  </ul>
<% else %>
  <p>
    <strong><%=t "check_answers.exemption_details.question" %></strong>
  </p>
  <ul>
    <li><%= t "check_answers.exemption_details.absence_answer" %></li>
  </ul>
<% end %>