<a id="steps-application-declaration-form-c100-application-field-error"></a>

<div id="cya-fulfilment-errors" class="govuk-form-group govuk-form-group--error govuk-!-margin-top-8">
  <p class="govuk-error-message"><%=t '.heading' %></p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list">
        <% errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>

  <% errors.each do |error| %>
    <div class="govuk-grid-column-one-third">
        <%= link_to t('.change_link'), error.change_path, class: 'govuk-link govuk-link--no-visited-state ga-pageLink govuk-body-m',
                    data: { ga_category: 'check your answers', ga_label: "fulfilment error: #{error.attribute}" } %>
    </div>
  <% end %>


  </div>
</div>
