<% title 'MIAM exemptions' %>
<% step_header(path: url_for(:back)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Valid reasons not to attend a MIAM</h1>

    <p class="govuk-body">A MIAM is not mediation. It is an initial meeting where an authorised family mediator will consider
      with you (and the other party if present) whether family mediation, or another form of non-court dispute resolution,
      would be a more appropriate way for you to resolve the dispute. The mediator will also be able to signpost you to other help and support services.
    </p>

    <p class="govuk-body">If you think you’re exempt from attending a MIAM, you must be prepared to explain your reasons to the court.
      Where evidence is required, this must be submitted alongside this application to court.
    </p>

    <p class="govuk-body">You do not have to attend a MIAM if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you're applying for a consent order</li>
      <li>any of the children in the application are involved in emergency proceedings, care proceedings or supervision proceedings</li>
      <li>any of the children in the application are the subject of an emergency protection order, care order or supervision order</li>
      <li>any of the following circumstances apply:</li>
    </ul>

    <h2 class="govuk-heading-l">You have evidence of domestic abuse</h2>

    <p class="govuk-body">
      <a href="https://www.gov.uk/government/collections/sample-letters-to-get-evidence-of-domestic-violence" class="govuk-link" rel="external" target="_blank">Sample
        letters to get evidence of domestic abuse (opens in a new tab)</a>
    </p>

    <h3 class="govuk-heading-m">The police have been involved</h3>
    <p class="govuk-body">
      For example, you or the other people in this application (the respondents) have been arrested, cautioned, charged or convicted for <a href="https://www.gov.uk/government/publications/domestic-violence-and-child-abuse-offences" class="govuk-link" rel="external" target="_blank">domestic or child abuse offences (opens in a new tab)</a>.
    </p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" data-ga-category="miam exemptions" data-ga-label="police evidence">
          What evidence is accepted
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Evidence that a prospective party has been arrested for a relevant domestic abuse offence</li>
          <li>Evidence of a relevant police caution for a domestic abuse offence</li>
          <li>Evidence of relevant criminal proceedings for a domestic abuse offence which have not concluded</li>
          <li>Evidence of a relevant conviction for a domestic abuse offence</li>
          <li>a domestic abuse protection notice given under section 22 of the Domestic Abuse Act 2021 against a prospective party</li>
        </ul>
      </div>
    </details>

    <h3 class="govuk-heading-m">A court has already been involved</h3>
    <p class="govuk-body">For example, a court has made an order relating to you, the other people in this application (the respondents) or somebody close to you or them in connection with domestic abuse.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" data-ga-category="miam exemptions" data-ga-label="court evidence">
          What evidence is accepted
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>A court order binding a prospective party over in connection with a domestic abuse offence</li>
          <li>a relevant protective injunction</li>
          <li>An undertaking given in England and Wales under section 46 or 63E of the Family Law Act 1996 (or given in Scotland or Northern Ireland in place of a protective injunction) by a prospective party, provided that a cross-undertaking relating to domestic violence or abuse was not given by another prospective party</li>
          <li>A copy of a finding of fact, made in proceedings in the UK, that there has been domestic abuse by a prospective party</li>
          <li>An expert report produced as evidence in proceedings in the UK for the benefit of a court or tribunal confirming that a person with whom a prospective party is or was personally connected, was assessed as being, or at risk of being, a victim of domestic abuse by that prospective party</li>
        </ul>
      </div>
    </details>

    <h3 class="govuk-heading-m">
     A letter confirms you or the other people in this application (the respondents) are or have been a victim of domestic abuse
    </h3>
    <p class="govuk-body">
      For example, a health professional or specialist has confirmed injuries that are or were a result of domestic abuse.
    </p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" data-ga-category="miam exemptions" data-ga-label="abuse evidence">What evidence is accepted</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>a letter or report from an appropriate health professional confirming that:
            <ol class="govuk-list app-list--lower-roman">
              <li>that professional, or another appropriate health professional, has examined a prospective party in person; and</li>
              <li>in the reasonable professional judgment of the author or the examining appropriate health professional, that prospective party has, or has had, injuries or a condition consistent with being a victim of domestic abuse</li>
            </ol>
          </li>
          <li>a letter or report from:
            <ol class="govuk-list app-list--lower-roman">
              <li>the appropriate health professional who made the referral described below</li>
              <li>an appropriate health professional who has access to the medical records of the prospective party referred to below; or</li>
              <li>the person to whom the referral described below was made</li>
            </ol>
            <p class="govuk-body">confirming that there was a referral by an appropriate health professional of a prospective party to a person who provides specialist support or assistance for victims of, or those at risk of, domestic abuse</p>
          </li>
        </ul>
      </div>
    </details>

    <h3 class="govuk-heading-m">
      A letter from a local authority or other agency confirms a risk of harm
    </h3>
    <p class="govuk-body">
      For example, a local authority or housing association has confirmed there is a risk of domestic abuse.
    </p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" data-ga-category="miam exemptions" data-ga-label="agency evidence">What evidence is accepted</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>a letter from any person who is a member of a multi-agency risk assessment conference (or other suitable local safeguarding forum) confirming that a prospective party, or a person with whom that prospective party is personally connected, is or has been at risk of harm from domestic abuse by another prospective party</li>
          <li>a letter from an officer employed by a local authority or housing association (or their equivalent in Scotland or Northern Ireland) for the purpose of supporting tenants containing:
            <ol class="govuk-list app-list--lower-roman">
              <li>a statement to the effect that, in their reasonable professional judgment, a person with whom a prospective party is or has been personally connected is, or is at risk of being, a victim of domestic abuse by that prospective party</li>
              <li>a description of the specific matters relied upon to support that judgment; and</li>
              <li>a description of the support they provided to the victim of domestic abuse or the person at risk of domestic abuse by that prospective party</li>
            </ol>
          </li>
          <li>a letter from a public authority confirming that a person with whom a prospective party is or was personally connected, was assessed as being, or at risk of being, a victim of domestic abuse by that prospective party (or a copy of that assessment)</li>
        </ul>
      </div>
    </details>

    <h3 class="govuk-heading-m">
      You have a letter from a domestic abuse support service, specialist or organisation
    </h3>
    <p class="govuk-body">
      For example, an independent domestic violence or abuse adviser has confirmed they are providing support to you or the other people in this application (the respondents)
    </p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" data-ga-category="miam exemptions" data-ga-label="specialist evidence">What evidence is accepted</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>A letter from an independent domestic violence advisor (IDVA) confirming that they are providing or have provided support to a prospective party</li>
          <li>A letter from an independent sexual violence advisor (ISVA) confirming that they are providing or have provided support to a prospective party relating to sexual violence by another prospective party</li>
          <li>
            a letter which:
            <p class="govuk-body govuk-!-margin-top-3">
              (i) is from an organisation providing domestic abuse support services which letter confirms that it:
            </p>
            <ol class="govuk-list app-list--lower-alpha">
              <li>is situated in the United Kingdom</li>
              <li>has been operating for an uninterrupted period of six months or more; and</li>
              <li>provided a prospective party with support in relation to that person’s needs as a victim, or a person at risk, of domestic abuse; and</li>
            </ol>
            <p class="govuk-body">
              (ii) contains:
            </p>
            <ol class="govuk-list app-list--lower-alpha">
              <li>a statement to the effect that, in the reasonable professional judgment of the author of the letter, the prospective party is, or is at risk of being, a victim of domestic abuse</li>
              <li>a description of the specific matters relied upon to support that judgment</li>
              <li>a description of the support provided to the prospective party; and</li>
              <li>a statement of the reasons why the prospective party needed that support</li>
            </ol>
          </li>
          <li>
            a letter or report from an organisation providing domestic abuse support services in the UK confirming:
            <ol class="govuk-list app-list--lower-roman">
              <li>that a person with whom a prospective party is or was personally connected was refused admission to a refuge</li>
              <li>the date on which they were refused admission to the refuge; and</li>
              <li>they sought admission to the refuge because of allegations of domestic abuse by the prospective party referred to in paragraph (i)</li>
            </ol>
          </li>
        </ul>
      </div>
    </details>

    <h3 class="govuk-heading-m">
      You or any of the people in this application (the respondents) have been granted leave to remain in the UK as a victim of domestic abuse
    </h3>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" data-ga-category="miam exemptions" data-ga-label="leave to remain evidence">What evidence is accepted</span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>a letter from the Secretary of State for the Home Department confirming that a prospective party has been granted leave to remain in the UK as a victim of domestic abuse</li>
        </ul>
      </div>
    </details>

    <h3 class="govuk-heading-m">
      You have evidence that you or the other people in this application (the respondents) have been, or are at risk of being, financially abused by the other
    </h3>
    <p class="govuk-body">
      Financial abuse is a way of controlling someone being able to earn, spend or keep their own money. For example, preventing someone from going to work, withholding money, or putting debts in someone else’s name.
    </p>

    <p class="govuk-body">Evidence could include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a copy of a credit card account, loan document or bank statements</li>
      <li>a letter from a domestic abuse support organisation</li>
      <li>emails, text messages or a diary kept by the victim</li>
    </ul>

    <h2 class="govuk-heading-l">There are child protection concerns</h2>

    <p class="govuk-body">
      These concerns are relevant where any of the following apply:
    </p>

    <p class="govuk-body">
      A local authority is carrying out enquiries under section 47 of the Children Act 1989 about any of the children in this application, or other child in the household
    </p>
    <p class="govuk-body">
      Any of the children in this application, or other child in the household, is the subject of a child protection plan
    </p>

    <h2 class="govuk-heading-l">The application is urgent</h2>

    <p class="govuk-body">A court will only consider an urgent hearing where it's satisfied that there is good reason for the urgency.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" data-ga-category="miam exemptions" data-ga-label="urgency examples">When an application may be urgent</span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">There is:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>risk to the life, liberty or physical safety of you, your family or your home</li>
          <li>significant risk that in the period needed to arrange and attend a MIAM, proceedings relating to the dispute will be brought in another country</li>
        </ul>
        <p class="govuk-body">Any delay caused by attending a MIAM would cause:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>significant financial hardship for you</li>
          <li>a risk of harm to the children</li>
          <li>a risk of unlawful removal of a child from the UK, or a risk of unlawful retention of a child who is currently outside England and Wales</li>
          <li>a significant risk of a miscarriage of justice</li>
          <li>irretrievable problems in dealing with the dispute (including the irretrievable loss of significant evidence)</li>
        </ul>
      </div>
    </details>

    <h2 class="govuk-heading-l">You’ve previously been to a MIAM or a non-court dispute resolution process</h2>

    <h3 class="govuk-heading-m">
      You’ve already been to a MIAM or are taking part in another form of non-court dispute resolution
    </h3>
    <p class="govuk-body">
      The MIAM or non-court dispute resolution process must have taken place within the past 4 months, and have been about the same or a very similar dispute. If you attended a non-court dispute resolution process, you must provide with this application written confirmation from the non-court dispute resolution provider that you attended.
    </p>
    <p class="govuk-body">
      You’re involved in other ongoing family court proceedings and you attended a MIAM before starting those proceedings.
    </p>

    <h2 class="govuk-heading-l">Any other exemptions</h2>

    <h3 class="govuk-heading-m">
      You’re applying for a without notice hearing
    </h3>
    <p class="govuk-body">
      Hearings which take place without notice to the other person will only be justified where your case is exceptionally urgent, or there is good reason not to tell the other people about your application  (either because they could take steps to obstruct the application or because doing so may expose you or the children to a risk of harm).
    </p>

    <h3 class="govuk-heading-m">
      You can’t attend a MIAM online or by video link, and can’t access a mediator
    </h3>

    <p class="govuk-body">
      Not being able to access a mediator means:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you live further than 15 miles from a mediator</li>
      <li>you’ve contacted all the mediators with an office within 15 miles of where you live (or at least 5, if there are 5 or more) and can’t get an appointment for a MIAM within 15 working days</li>
      <li>you or any of the other people in this application (the respondents) have a disability and there are no mediators (or 5, if there are 5 or more) within 15 miles of where you live who can offer the appropriate facilities</li>
      <li>
        you or any of the other people in this application (the respondents) are:
        <ul class="govuk-list govuk-list--bullet">
          <li>in prison or any other institution, and there are no facilities for them to attend a MIAM online or by video link</li>
          <li>subject to bail conditions that prevent contact with each other</li>
          <li>subject to a licence that prohibits contact with each other</li>
        </ul>
      </li>
    </ul>
    <p class="govuk-body">You must provide the contact details of the mediators and the dates you contacted them with this application to court.</p>

    <h3 class="govuk-heading-m">
      The applicant or any of the other people in this application (the respondents) are under 18 years old
    </h3>
    <p class="govuk-body">
      You don’t need to attend a MIAM if you or any other person who is a respondent in this application is under 18.
    </p>
  </div>
</div>
