<% title 'Privacy notice' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Privacy notice</h1>

    <h2 class="govuk-heading-l">Purpose</h2>

    <p class="govuk-body">
      This privacy notice sets out the standards that you can expect from the Ministry of Justice (MoJ) and
      His Majesty’s Courts and Tribunals Service (HMCTS) when we process personal information (‘personal data’) about
      you in the context of family court proceedings; how you can get access to a copy of your personal data; and what
      you can do if you think the standards are not being met.
    </p>

    <p class="govuk-body">
      HMCTS is an Executive Agency of the MoJ. MoJ is the data controller for the personal information held, although
      it may act jointly with HMCTS. HMCTS also collects and processes personal data for the exercise of its own and
      associated public functions and legal obligations.
    </p>

    <p class="govuk-body">
      This privacy notice does not apply to the processing of personal data which is collected and controlled by the
      family court (and its judges) during legal proceedings. The judiciary are independent from MoJ and HMCTS and data
      protection law applies differently to them as a result. For more information, see:
      <a href="https://www.judiciary.gov.uk" class="govuk-link" rel="external" target="_blank">www.judiciary.gov.uk (opens in a new tab)</a>
      .
    </p>

    <h2 class="govuk-heading-l">About personal data</h2>

    <p class="govuk-body">
      Personal data is information that relates to a living individual who can be identified from the data.
    </p>

    <p class="govuk-body">
      It does not include information relating to dead people, groups or communities of people, organisations or
      businesses. It can be your name, address or telephone number. It can also include information about your gender,
      your financial circumstances, your cultural background or your social status.
    </p>

    <p class="govuk-body">
      We know how important it is to protect the privacy of all individuals involved in court proceedings and to comply
      with data protection laws. We will safeguard your personal data and will only disclose it where it is lawful to do
      so, or with your consent.
    </p>

    <h2 class="govuk-heading-l">Types of personal data we process</h2>

    <p class="govuk-body">
      We only process personal data that is relevant for meeting our legal obligations and for the administration of
      justice. The types of data collected in the court forms may include: your name, address, contact details, your
      economic circumstances, ethnicity, religious beliefs and the details of any other persons, including children,
      to whom the proceedings relate, or those who may have an interest in the proceedings.
    </p>

    <p class="govuk-body">
      The personal data will usually be obtained directly from you or from another person who has included your data in
      a court form which they have completed. Your personal data may also be obtained from other sources throughout the
      course of the proceedings, for example from professional organisations such as a Local Authority, a school,
      Cafcass, Cafcass Cymru or another party to the proceedings.
    </p>

    <h2 class="govuk-heading-l">Purpose of processing and the legal basis for the processing</h2>

    <p class="govuk-body">
      We necessarily process personal data for the purposes of the administration of justice and supporting the
      independent judiciary in upholding the rule of law and in delivering justice impartially, speedily and efficiently
      .Processing is also necessary for the establishment, exercise or defence of legal claims.
    </p>

    <p class="govuk-body">
      Personal data required for this purpose is collected and held in court forms. It is also uploaded onto a court
      database supporting the administration of justice in court proceedings, which is used by court staff for case
      management and to collect quality information about the progression of a case.
    </p>

    <p class="govuk-body">
      The court forms are available here:
      <a href="https://www.gov.uk/government/collections/court-and-tribunal-forms" class="govuk-link" rel="external"
         target="_blank">www.gov.uk/government/collections/court-and-tribunal-forms (opens in a new tab)</a>
    </p>

    <p class="govuk-body">
      These forms are prescribed under the Family Procedure Rules 2010 (‘the Rules’) for use in family proceedings and
      enable effective case management in the Family Court or the Family Division of the High Court (‘the court’). The
      forms are generally used to initiate proceedings or to determine action within existing proceedings and the
      information provided enables the court to deliver justice and make important decisions. As explained above,
      data protection laws apply differently to the court when personal data is collected and used during the
      proceedings.
    </p>

    <p class="govuk-body">
      We also process personal data obtained in family court cases for statistical purposes. The personal data is
      anonymised and is used to produce quarterly statistics on the activity of family courts in England and Wales.
      Sometimes HMCTS uses contact information to ask court users if they would like to complete a customer service
      survey to measure the satisfaction of court users and inform areas for improvement.
    </p>

    <h2 class="govuk-heading-l">When we ask you for personal data we:</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>promise to inform you why we need your personal data;</li>
      <li>will ask only for the personal data we need and not collect information that is irrelevant or excessive;</li>
      <li>will protect it and make sure no unauthorised person has access to it;</li>
      <li>may share it with other organisations but only where necessary and permitted by the law (see below);</li>
      <li>will make sure we don’t keep it longer than is necessary.</li>
    </ul>

    <p class="govuk-body">You can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>request access to your personal data or ask for it to be corrected;</li>
      <li>object to our processing of your personal data or ask for the processing to be restricted;</li>
      <li>lodge a complaint with the Information Commissioner (see below).</li>
    </ul>

    <h2 class="govuk-heading-l">Who the information may be shared with</h2>

    <p class="govuk-body">
      The information you provide us will typically be shared with the other parties involved in the case, including
      their legal representatives (and usually you are required by the Rules to give them that information yourself,
      often by sending them a copy of the form: see the specific forms and Rules for more details).
    </p>

    <p class="govuk-body">
      The information you give us will not usually be shared with anyone who is not a party to the case unless this is
      specifically ordered by the court or permitted by the Rules. There are strict rules about when information in
      family cases may be disclosed outside the proceedings. This type of processing of personal data by a court is not
      covered by this privacy notice as it is generally carried out by the independent judiciary.
    </p>

    <p class="govuk-body">
      Where we are required to share personal data we will comply with all aspects of the rules, including data
      protection laws. The categories of organisations with whom we may be required to share your personal data obtained
      in family court forms may include agencies contracted by HMCTS (e.g. interpreters, intermediaries, transcription
      or translation agencies), other Government departments or courts and public authorities within or outside the EU.
    </p>

    <p class="govuk-body">
      Family proceedings are generally heard in private, which means only those people directly involved in the case can
      be present in the courtroom. However, accredited media representatives are permitted to attend certain hearings
      and hear personal information about you. There are safeguards in place to restrict what can be reported in the
      media. Any other person may only be present in the courtroom with the permission of the court.
    </p>

    <h2 class="govuk-heading-l">Details of transfers to third countries</h2>

    <p class="govuk-body">
      It may sometimes be necessary to transfer personal data overseas for the establishment, exercise or defence of
      legal claims. The reasons for the transfer and the recipient third country will always depend on the circumstances
      of the case but any such transfers will be made in full compliance with all aspects of the law (‘third country’
      means a country outside the EU).
    </p>

    <p class="govuk-body">
      To find out more information, you can contact us by emailing:
      <a href="mailto:privacy@justice.gov.uk" class="ga-clickAction govuk-link" data-ga-category="privacy"
         data-ga-action="click" data-ga-label="mailto privacy">privacy@justice.gov.uk</a>
    </p>

    <h2 class="govuk-heading-l">Retention period for information collected</h2>

    <p class="govuk-body">
      Government departments, agencies, and all other public-sector bodies are instructed to retain any and all
      documentation; correspondence; notes; e-mails and all other information (however held) which contain or may
      contain content pertaining directly or indirectly to the sexual abuse of children or to child protection and care.
      The word ‘children’ relates to any person under the age of 18.
    </p>

    <p class="govuk-body">
      Different retention periods apply based on the type of proceedings you are involved in. To find out the retention
      periods and other information which may be useful to you please see:
    </p>

    <p class="govuk-body">
      <a href="https://www.gov.uk/government/publications/record-retention-and-disposition-schedules"
         class="govuk-link" rel="external" target="_blank">
        https://www.gov.uk/government/publications/record-retention-and-disposition-schedules (opens in a new tab)</a></p>

    <h2 class="govuk-heading-l">Access to personal information</h2>

    <p class="govuk-body">
      You can find out if we hold any personal data about you by making a ‘subject access request’. You can make a
      subject access request by emailing: <a href="mailto:data.access@justice.gov.uk" class="ga-clickAction govuk-link"
                                             data-ga-category="privacy" data-ga-action="click"
                                             data-ga-label="mailto data access">data.access@justice.gov.uk</a>
    </p>

    <h2 class="govuk-heading-l">You can get more details on:</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Agreements we have with other organisations for sharing personal data;</li>
      <li>Circumstances where we can pass on personal data without telling you, for example, to help with the prevention
        or detection of crime or to produce anonymised statistics;</li>
      <li>Our instructions to staff on how to collect, use or delete your personal data;</li>
      <li>How we check that the personal data we hold is accurate and up-to-date;</li>
      <li>How to make a complaint. For more information about the above issues or for any other queries, please contact
        our Data Protection Officer by email: <a href="mailto:privacy@justice.gov.uk" class="ga-clickAction govuk-link"
                                                 data-ga-category="privacy" data-ga-action="click"
                                                 data-ga-label="mailto privacy">privacy@justice.gov.uk</a></li>
    </ul>

    <h2 class="govuk-heading-l">Complaints</h2>

    <p class="govuk-body">
      When we ask you for information, we will keep to the law. If you consider that your information has been handled
      incorrectly by MoJ or HMCTS, you can contact the Information Commissioner for independent advice about data
      protection. You can contact the Information Commissioner here:
    </p>

    <div class="govuk-inset-text">
      <address class="adr">
        <div class="extended-address">Information Commissioner's Office</div>
        <span class="extended-address">Wycliffe House</span>
        <span class="street-address">Water Lane</span>
        <div class="locality">Wilmslow</div>
        <span class="region">Cheshire,</span>
        <span class="postal-code">SK9 5AF</span>
      </address>

      <div class="govuk-!-margin-top-5">
        <div class="tel">Phone: 0303 123 1113</div>
        <div>
          <a href="https://www.ico.org.uk" class="govuk-link" rel="external" target="_blank">www.ico.org.uk (opens in a new tab)</a>
        </div>
      </div>
    </div>
  </div>
</div>
