// GOV.UK Frontend
// https://frontend.design-system.service.gov.uk

// Style paragraphs (`<p>`) and links (`<a>`) without explicitly having to apply `govuk-body` and `govuk-link` classes
$govuk-global-styles: true;
$govuk-new-typography-scale: true;
$govuk-new-organisation-colours: true;

// Asset paths - fonts and images copied from govuk-frontend to app/assets/
$govuk-fonts-path: 'govuk-frontend/dist/govuk/assets/fonts/';
$govuk-images-path: 'govuk-frontend/dist/govuk/assets/images/';


// Custom function to replace sass-rails image-url helper
// @function image-url($filename) {
//   @return url('/assets/' + $filename);
// }

@import "govuk-frontend/dist/govuk/index";

// App-specific custom styles and overrides
@import 'local/all';