// GOV.UK Frontend
// https://frontend.design-system.service.gov.uk

// Style paragraphs (`<p>`) and links (`<a>`) without explicitly having to apply `govuk-body` and `govuk-link` classes
$govuk-global-styles: true;
$govuk-new-typography-scale: true;

$govuk-fonts-path: 'govuk-frontend/dist/govuk/assets/fonts/';
$govuk-images-path: 'govuk-frontend/dist/govuk/assets/images/';

@import "govuk-frontend/dist/govuk/all";

// App-specific custom styles and overrides
@import 'local/all';